@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: cursive; 
    background-color: white;  
}

body > h2 {
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
}

header {
    padding: 30px;
    text-align: center;
    background-color: black;
    color: wheat;
}

main {
    font-size: 1.2em;
    text-align: justify;
    min-width: 300px;
    max-width: 600px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: wheat;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-radius: 10px;
}

article > ul {
    font-size: em;
}

footer {
    padding: 30px;
    text-align: center;
    background-color: black;
    color: white;
}